.filter{
    animation-name: putih;
    animation-duration: 3s;
}

.heading {
    animation-name: hitam;
    animation-duration: 3s;
}

@keyframes putih {
    0%   {background-color: white}
    
}

@keyframes hitam {
    0%   {color: black}
    
}