@media(max-width: 1000px){

    .nav-mobile{
        display: none;
    }

    .jumbotron{
        background-size: contain;
        background-size: cover;
        background-position-x: center;
    }

    .heading h1{
        margin-bottom: 30px;
    }

    .heading p{
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .catalog{
        height: 800px;
    }
    .catalog-list{
        width: 50%;
    }

    .service{
        height: 700px;
    }

    .service-list{
        width: 50%;
        margin-bottom: 50px;
    }
}

@media(max-width: 670px){
    .nav-mobile{
        display: block;
        float: right;
        
    }
    
    .icon-wrapper{
        padding: 13px 20px;
        font-size: 20px;
        color: white;
    }


    .nav-left a, .nav-right a{
        display: none;
    }

    .jumbotron{
        background-size: contain;
        background-size: cover;
        background-position-x: center;
    }
    .catalog{
        height: 1500px;
    }
    .catalog-list{
        width: 100%;
    }

    .service-list{
        width: 100%;
        margin-bottom: 50px;
    }

    .service{
        height: 1200px;
        margin-bottom: 40px;
    }

    .footer{
        padding: 20px 20px;
        height: auto;
        text-align: center;
    }

    .footer-right{
        float: none;
        width: 100%;
        margin-top: 10px;
    }

    .footer-left{
        float: none;
    }

    .footer-left h3{
        margin-bottom: 10px;
    }

    .footer-right a{
        display: inline;
    }

}

@media(max-width: 508px){

    .filter{
        padding: 80px 50px;
    }

    .service{
        height: 1350px;
    }
}

@media(max-width: 376px){

    .filter, .catalog{
        padding: 80px 20px;
    }

    .service{
        height: 1450px;
    }

    .footer-right i{
        margin-right: 5px;
    }

    .footer-right a{
        margin-right: 3px;
    }

}